.home-page {
    background: $home-image;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: rgba($color-primary, $background-opacity);
    }

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    &__intro-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: 16rem;
        max-width: 80%;
        margin-bottom: 4rem;
    }
}

.header {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    // visibility: hidden;
    // display: none;
}

.navigation {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;

    @include respond(desktop-sm-up) {
        display: flex;
    }

    &__menu {
        width: 100%;
        height: 70vh;
        background-color: darken($color-primary, 10);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3.4rem;
        list-style: none;

        @include easeOut;
        transform: translate(100%, 0);

        @include respond(desktop-sm-up) {
            transform: translate(0, -100%);
            height: 100vh;
            width: 50%;
        }

    }

    &__item {
        margin-bottom: 1.6rem;
        @include easeOut;
        transform: translate(60rem, 0);

        @for $x from 1 through 4 {
            &:nth-child(#{$x}) {
                transition-delay: $x * 0.1s;
            }
        }


        &--active a {
            color: $color-secondary;
        }
    }

    &__link {
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem 1.4rem;
        color: set-text-color($color-primary);
        cursor: pointer;

        &:hover {
            color: $color-secondary;
        }
    }


}

.branding {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lighten($color-primary, 4);
    @include easeOut;

    transform: translate(-100%, 0);

    @include respond(desktop-sm-up) {
        transform: translate(0, 100%);
        height: 100vh;
        width: 50%;
    }

    &__portrait {
        height: 15rem;
        width: 15rem;
        background-image: url(../img/mypic_small.jpg);
        background-size: cover;
        background-position: top;
        border-radius: 50%;
        border: 3px solid $color-secondary;

        @include respond(desktop-md-up) {
            width: 25rem;
            height: 25rem;
        }
    }
}

.menu-shown {
    .navigation {
        visibility: visible;
    }

    .branding {
        transform: translate(0, 0);
    }

    .navigation__menu {
        transform: translate(0, 0);
    }

    .navigation__item {
        transform: translate(0, 0);
    }

}



.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    max-width: 96rem;

    @include respond(tablet-up) {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }
}

.about-page {
    // &__content {}

    &__bio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include respond(desktop-sm-up) {
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 5rem;
        }
    }

    &__img {
        width: 20rem;
        height: 20rem;
        border: 3px solid $color-secondary;
        border-radius: 50%;
        margin-bottom: 3rem;

        @include respond(desktop-sm-up) {

            margin-bottom: 0;
        }
    }

    &__bio-text {
        // text-align: center;
        font-size: 1.8rem;
        margin-bottom: 5rem;

        @include respond(desktop-sm-up) {
            flex: 0 1 65%;
            margin-bottom: 0;
        }

    }

    &__profile {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        @include respond(desktop-md-up) {
            flex-direction: row;
            margin-bottom: 5rem;

        }
    }
}

.qualification {
    padding: 1rem 2rem;
    background-color: lighten($color-primary, 5);
    border-bottom: 3px solid $color-secondary;

    &:not(:last-child) {
        margin-bottom: 3rem;

        @include respond(desktop-md-up) {
            margin-bottom: 0;
            margin-right: 1.6rem;
        }
    }

    &__title {
        font-size: 2.4rem;
        text-transform: uppercase;
    }

    &__subtitle {
        margin: 0.5rem 0 0.2rem;
        font-size: 2rem;
        text-transform: capitalize;
    }

    &__dates {
        font-size: 1.4rem;
        color: rgb(238, 238, 238);
    }

    &__text {
        margin: 2rem 0;
        font-size: 1.4rem;
    }
}

.contact {
    display: flex;
    flex-direction: column;


    &__details {
        @include respond(desktop-sm-up) {
            width: 50%;
            padding: 2rem;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        padding: 1rem 2rem;
        font-size: 1.8rem;
        background: lighten($color-primary, 10);
        border-radius: 0.5rem;
    }

    &__item-wrapper {
        margin-left: 2rem;

    }

    &__item-title {
        font-size: 1.6rem;
        text-transform: capitalize;
        color: $color-secondary;
    }

}

.contact {

    @include respond(desktop-sm-up) {
        display: flex;
        flex-direction: row;
    }


    &__form {
        margin-bottom: 4rem;
        width: 100%;

        @include respond(desktop-sm-up) {
            width: 50%;
            padding: 2rem;
        }

    }

}

.contact-page {

    &__content {
        display: flex;
        flex-direction: column;


    }
}

.footer {
    text-align: center;
    padding: 2rem 0;
    font-size: 1.4rem;
    background-color: darken($color-primary, 10);
}

.work-page {


    &__projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include respond(desktop-sm-up) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

        }

        @include respond(desktop-lg-up) {
            flex-direction: row;
            justify-content: space-between;

        }
    }

    &__content {
        min-height: calc(100% - 67px);
    }
}